.md {
    height: 16px;
    line-height: 16px;
    background-position: 2px center;
    text-align: right;
    font-weight: bold;
    padding: 0 2px;
    color: red;
}

.easyui-calendar {
    width: 200px;
    height: 200px;
}
/* 导航箭头设置=隐藏-禁止点击下一月跳转 */
.calendar-prevmonth,
.calendar-nextmonth,
.calendar-prevyear,
.calendar-nextyear {
    visibility: hidden!important
}
.choose-month-title {
    border-style:solid;
    border-width:1px;
    border-color:#000
}
/*禁止月份按钮点击事件*/
.calendar-text,
.calendar-title{
    pointer-events: none!important
}
/*周一至周五*/
.calendar-body calendar-first,.calendar-day{
    color: #009900;
}
/*周末*/
.calendar-sunday{
    color: red;
}
/*周六*/
.calendar-saturday{
    color: #CB0909;
}