<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sams.custom.mapper.FundMarketMapper" >
  <resultMap id="BaseResultMap" type="com.sams.custom.model.FundMarketCustom" >
		<result column="CI_CHANNEL_CODE" property="ciChannelCode" jdbcType="VARCHAR"/>
		<result column="CI_CHANNEL_NAME" property="ciChannelName" jdbcType="VARCHAR"/>
		<result column="CI_SALE_AGENT_CODE" property="ciSaleAgentCode" jdbcType="VARCHAR"/>
		<result column="CI_MARKET_CODE" property="ciMarketCode" jdbcType="VARCHAR"/>
		<result column="CI_CSDC_VER" property="ciCsdcVer" jdbcType="VARCHAR"/>
		<result column="CI_CHECK_ACCT_TYPE" property="ciCheckAcctType" jdbcType="VARCHAR"/>
		<result column="CI_ECON_VERIFY_TYPE" property="ciEconVerifyType" jdbcType="VARCHAR"/>
		<result column="CI_SZT_RECV_PATH" property="ciSztRecvPath" jdbcType="VARCHAR"/>
		<result column="CI_SZT_SEND_PATH" property="ciSztSendPath" jdbcType="VARCHAR"/>
		<result column="CI_PER_ACCT_TYPE" property="ciPerAcctType" jdbcType="VARCHAR"/>
		<result column="CI_ORG_ACCT_TYPE" property="ciOrgAcctType" jdbcType="VARCHAR"/>
		<result column="CI_DEAL_FILE" property="ciDealFile" jdbcType="VARCHAR"/>
		<result column="CI_VALID_FLAG" property="ciValidFlag" jdbcType="VARCHAR"/>
		<result column="CI_CHECK_STATE" property="ciCheckState" jdbcType="VARCHAR"/>
		<result column="CI_SALES_PERSON" property="ciSalesPerson" jdbcType="VARCHAR"/>
		<result column="CI_BATCH_NO_ON_OFF" property="ciBatchNoOnOff" jdbcType="VARCHAR"/>
        <result column="PI_PRODUCT_TYPE" property="piProductType" jdbcType="VARCHAR" />
	    <result column="PI_CHANNEL_PRODUCT_CODE" property="piChannelProductCode" jdbcType="VARCHAR" />
	    <result column="PI_CHANNEL_PRODUCT_NAME" property="piChannelProductName" jdbcType="VARCHAR" />
	    <result column="PI_INDI_MIN_BIDS_AMT" property="piIndiMinBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INST_MIN_BIDS_AMT" property="piInstMinBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INDI_BIDS_DIFF_AMT" property="piIndiBidsDiffAmt" jdbcType="DECIMAL" />
	    <result column="PI_INST_BIDS_DIFF_AMT" property="piInstBidsDiffAmt" jdbcType="DECIMAL" />
	    <result column="PI_INDI_MAX_BIDS_AMT" property="piIndiMaxBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INST_MAX_BIDS_AMT" property="piInstMaxBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INDI_MIN_APP_BIDS_AMT" property="piIndiMinAppBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INST_MIN_APP_BIDS_AMT" property="piInstMinAppBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INDI_APP_BIDS_DIFF_AMT" property="piIndiAppBidsDiffAmt" jdbcType="DECIMAL" />
	    <result column="PI_INST_APP_BIDS_DIFF_AMT" property="piInstAppBidsDiffAmt" jdbcType="DECIMAL" />
	    <result column="PI_INDI_MAX_APP_BIDS_AMT" property="piIndiMaxAppBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INST_MAX_APP_BIDS_AMT" property="piInstMaxAppBidsAmt" jdbcType="DECIMAL" />
	    <result column="PI_INDI_MIN_REDEEM_VOL" property="piIndiMinRedeemVol" jdbcType="DECIMAL" />
	    <result column="PI_INST_MIN_REDEEM_VOL" property="piInstMinRedeemVol" jdbcType="DECIMAL" />
	    <result column="PI_INDI_REDEEM_DIFF" property="piIndiRedeemDiff" jdbcType="DECIMAL" />
	    <result column="PI_INST_REDEEM_DIFF" property="piInstRedeemDiff" jdbcType="DECIMAL" />
	    <result column="PI_INDI_MAX_VOL" property="piIndiMaxVol" jdbcType="DECIMAL" />
	    <result column="PI_INST_MAX_VOL" property="piInstMaxVol" jdbcType="DECIMAL" />
	    <result column="PI_INDI_MIN_VOL" property="piIndiMinVol" jdbcType="DECIMAL" />
	    <result column="PI_INST_MIN_VOL" property="piInstMinVol" jdbcType="DECIMAL" />
	    <result column="PI_CHANNEL_RATE" property="piChannelRate" jdbcType="DECIMAL" />
	    <result column="PI_PAY_TYPE" property="piPayType" jdbcType="VARCHAR" />
	    <result column="PI_IPO_BEGIN_DATE" property="piIpoBeginDate" jdbcType="VARCHAR" />
	    <result column="PI_IPO_END_DATE" property="piIpoEndDate" jdbcType="VARCHAR" />
	    <result column="PI_PRO_SETUP_DATE" property="piProSetupDate" jdbcType="VARCHAR" />
	    <result column="PI_PRO_END_DATE" property="piProEndDate" jdbcType="VARCHAR" />
	    <result column="PI_PRO_YIELD_TYPE" property="piProYieldType" jdbcType="VARCHAR" />
	    <result column="PI_PRO_YIELD" property="piProYield" jdbcType="DECIMAL" />
	    <result column="PI_FEE_FLAG" property="piFeeFlag" jdbcType="VARCHAR" />
	    <result column="PI_INDI_BUY_FLAG" property="piIndiBuyFlag" jdbcType="VARCHAR" />
	    <result column="PI_INST_BUY_FLAG" property="piInstBuyFlag" jdbcType="VARCHAR" />
	    <result column="PI_PRO_CFM_WAY" property="piProCfmWay" jdbcType="VARCHAR" />
	    <result column="PI_CHECK_STATE" property="piCheckState" jdbcType="VARCHAR" />
	    <result column="PI_CTIME" property="piCtime" jdbcType="TIMESTAMP" />
	    <result column="PI_UTIME" property="piUtime" jdbcType="TIMESTAMP" />
	    <result column="PI_CUSER" property="piCuser" jdbcType="VARCHAR" />
	    <result column="PI_UUSER" property="piUuser" jdbcType="VARCHAR" />
	    <result column="PI_CURRENCY_TYPE" property="piCurrencyType" jdbcType="VARCHAR" />
	    <result column="PI_ANNU_CAL_DAYS" property="piAnnuCalDays" jdbcType="VARCHAR" />
	    <result column="PI_OTHER_FILE_TYPE" property="piOtherFileType" jdbcType="VARCHAR" />
	    <result column="PI_PRODUCT_TOTAL_SHARE" property="piProductTotalShare" jdbcType="VARCHAR" />
	    <result column="PI_MAX_AMOUNT_RAISED" property="piMaxAmountRaised" jdbcType="DECIMAL"/>
	    <result column="PI_BATCH_NO" property="piBatchNumber" jdbcType="VARCHAR"/>
	    <result column="PI_CHANNEL_CODE" property="piChannelCode" jdbcType="VARCHAR"/>
	    <result column="PI_VALID_FLAG" property="piValidFlag" jdbcType="VARCHAR"/>
	    <result column="sumRemainshares" property="sumRemainshares" jdbcType="VARCHAR"/>
	    <result column="CP_TA_PRODUCT_CODE" property="cpTaProductCode" jdbcType="VARCHAR"/>
  
  </resultMap>
  <sql id="Base_Column_List" >
		t.CI_CHANNEL_CODE,t.CI_CHANNEL_NAME,t.CI_SALE_AGENT_CODE,t.CI_MARKET_CODE,t.CI_CSDC_VER,t.CI_CHECK_ACCT_TYPE,t.CI_ECON_VERIFY_TYPE,t.CI_SZT_RECV_PATH,
		t.CI_SZT_SEND_PATH,t.CI_PER_ACCT_TYPE,t.CI_ORG_ACCT_TYPE,t.CI_DEAL_FILE,t.CI_VALID_FLAG,t.CI_CHECK_STATE,i.PI_PRODUCT_TYPE,i.PI_CHANNEL_PRODUCT_CODE,
		t.CI_SALES_PERSON,t.CI_BATCH_NO_ON_OFF,i.PI_CHANNEL_PRODUCT_NAME,i.PI_INDI_MIN_BIDS_AMT,i.PI_INST_MIN_BIDS_AMT,i.PI_INDI_BIDS_DIFF_AMT,i.PI_INST_BIDS_DIFF_AMT,i.PI_INDI_MAX_BIDS_AMT,
		i.PI_INST_MAX_BIDS_AMT,i.PI_INDI_MIN_APP_BIDS_AMT,i.PI_INST_MIN_APP_BIDS_AMT,i.PI_INDI_APP_BIDS_DIFF_AMT,i.PI_INST_APP_BIDS_DIFF_AMT,
		i.PI_INDI_MAX_APP_BIDS_AMT,i.PI_INST_MAX_APP_BIDS_AMT,i.PI_INDI_MIN_REDEEM_VOL,i.PI_INST_MIN_REDEEM_VOL,i.PI_INDI_REDEEM_DIFF,
		i.PI_INST_REDEEM_DIFF,i.PI_INDI_MAX_VOL,i.PI_INST_MAX_VOL,i.PI_INDI_MIN_VOL,i.PI_INST_MIN_VOL,i.PI_CHANNEL_RATE,i.PI_PAY_TYPE,
		i.PI_IPO_BEGIN_DATE,i.PI_IPO_END_DATE,i.PI_PRO_SETUP_DATE,i.PI_PRO_END_DATE,i.PI_PRO_YIELD_TYPE,i.PI_PRO_YIELD,i.PI_FEE_FLAG,
		i.PI_INDI_BUY_FLAG,i.PI_INST_BUY_FLAG,i.PI_PRO_CFM_WAY,i.PI_CHECK_STATE,i.PI_CURRENCY_TYPE,i.PI_ANNU_CAL_DAYS,i.PI_OTHER_FILE_TYPE,
		i.PI_PRODUCT_TOTAL_SHARE,i.PI_MAX_AMOUNT_RAISED,i.PI_BATCH_NO,i.PI_CHANNEL_CODE
  </sql>
  
  <select id="selectFundMarketList" resultMap="BaseResultMap" parameterType="map" >
	select aa.*,bb.sumRemainshares 
	from( 
		select *
		  from (select t.*,
		               row_number() over(partition by pi_channel_product_code order by pi_id desc) rownumber
		          from (select *
		                  from (select *
		                          from p_channel_info t,
		                               (select *
		                                  from (select t.*,
		                                               row_number() over(partition by cp_channel_product_code order by cp_id desc) row_number
		                                        from (select * from p_channel_product where cp_valid_flag = '01'
		                                                     and cp_check_state = '01' and cp_channel_code = #{channelCode,jdbcType = VARCHAR}
		                                             )t
		                                        )t1
		                                 where row_number = 1 <!-- 取出一条关联关系的数据用于与渠道信息表关联  --> 
		                                ) p
		                         where t.ci_channel_code = p.cp_channel_code
		                           and t.ci_check_state = '01'
		                           and t.ci_valid_flag = '01'
		                           
		                      ) t1, p_product_info i
		                 where t1.cp_channel_product_code = i.pi_channel_product_code
		                   and t1.cp_channel_code = i.pi_channel_code
		                   and t1.cp_batch_no = i.pi_batch_no
		                   and i.pi_check_state = '01'
		                   and i.PI_VALID_FLAG != '00'
		                   and i.PI_VALID_FLAG != '99'
		              ) t
		        ) t1
		 where rownumber = 1 <!-- 由于产品信息表中有批次号，但行情信息不需要批次号，所以得进行数据去重 -->
		   and to_date(pi_ipo_begin_date, 'yyyyMMdd') 
		   &lt;= to_date(#{tradeDate, jdbcType = VARCHAR}, 'yyyyMMdd') 
		   
		   and(to_date(nvl(pi_pro_end_date, '99991231'), 'yyyyMMdd')) 
		   &gt;= to_date(#{tradeDate, jdbcType = VARCHAR}, 'yyyyMMdd') - 
		   (SELECT nvl(dict_code, '0') dict_code FROM sys_dict 
		   where dict_type = 'fundSendEndDate')   
		   
	)aa, 
	
	(
	select ii.pi_channel_product_code,dd.remainshares sumRemainshares
          from (
            select *
              from (select *
                      from p_channel_info t,
                           (select  distinct cp_channel_product_code,cp_channel_code,cp_batch_no
                              from p_channel_product
                             where cp_valid_flag = '01'
                               and cp_check_state = '01'
                               and cp_channel_code = #{channelCode, jdbcType = VARCHAR}) p
                     where t.ci_channel_code = p.cp_channel_code
                       and t.ci_check_state = '01'
                       and t.ci_valid_flag = '01'
                    ) t1,
                   p_product_info i
             where t1.cp_channel_product_code = i.pi_channel_product_code
               and t1.cp_channel_code = i.pi_channel_code
               and t1.cp_batch_no = i.pi_batch_no
               and i.pi_check_state = '01'
               and i.PI_VALID_FLAG != '00'
               and i.PI_VALID_FLAG != '99'
               and to_date(pi_ipo_begin_date, 'yyyyMMdd') 
               &lt;= to_date(#{tradeDate, jdbcType = VARCHAR}, 'yyyyMMdd') 
               
               and(to_date(nvl(pi_pro_end_date, '99991231'), 'yyyyMMdd')) 
               &gt;= to_date(#{tradeDate, jdbcType = VARCHAR}, 'yyyyMMdd') - 
               (SELECT nvl(dict_code, '0') dict_code FROM sys_dict 
               where dict_type = 'fundSendEndDate')
           )ii
           left join (select sum(ts.f_remainshares) remainshares, d.dci_fund_code
                       from ta_ttrustcontractdetails tt, ta_tsharedetail ts, d_contract_info d,p_product_info p
                      where tt.l_serialno = ts.l_contractserialno
                        and tt.l_serialno = d.dci_in_contract
                        and ts.c_fundcode = d.dci_product_code
                        and d.dci_valid_flag='01'
                        and p.pi_channel_product_code = d.dci_fund_code
                        and p.pi_channel_code= tt.c_trustagencyno
                        and tt.c_trustagencyno = #{channelCode,jdbcType=VARCHAR}
                        and  ts.d_cdate &lt;= decode(p.pi_product_type,'0',to_date(#{lastT2WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'),
                                                                    '1',to_date(#{lastT2WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'), 
                                                                    '2',to_date(#{lastT2WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'), 
                                                                    '3',to_date(#{lastT2WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'), 
                                                                    '4',to_date(#{lastT1WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'), 
                                                                    '5',to_date(#{lastT1WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'),
                                                                    '6',to_date(#{lastT1WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'),
                                                                    '7',to_date(#{lastT1WorkDay,jdbcType=VARCHAR},'yyyy-MM-dd'))
                      group by d.dci_fund_code) dd 
             on ii.pi_channel_product_code = dd.dci_fund_code
	  
	)bb
	
   where aa.pi_channel_product_code=bb.pi_channel_product_code	      
	
			   
  </select>
  
  <select id="selectfundMarketIpo" resultMap="BaseResultMap" parameterType="com.sams.custom.model.FundMarketCustom" >
			      select *
		  from p_channel_info p, p_product_info i
		 where p.ci_channel_code = i.pi_channel_code
		   and p.ci_check_state = '01'
		   and p.ci_valid_flag = '01'
		   and i.pi_check_state = '01'
		   and i.PI_VALID_FLAG != '00'
		   and i.PI_VALID_FLAG != '99'
		   and p.ci_channel_code=#{ciChannelCode,jdbcType=VARCHAR}
		   and i.pi_channel_product_code=#{piChannelProductCode,jdbcType=VARCHAR}
		   and #{piIpoBeginDate,jdbcType=VARCHAR} between i.pi_ipo_begin_date and i.pi_ipo_end_date 
	   <if test="piIpoBeginDate != null" >
	        and to_date(i.pi_ipo_begin_date,'yyyyMMdd')&lt;=to_date(#{piIpoBeginDate,jdbcType=VARCHAR},'yyyyMMdd') and rownum=1
	   </if>      
  </select>
  
   <select id="selectfundMarketPro" resultMap="BaseResultMap" parameterType="com.sams.custom.model.FundMarketCustom" >
	      select *
		  from p_channel_info p, p_product_info i
		 where p.ci_channel_code = i.pi_channel_code
		   and p.ci_check_state = '01'
		   and p.ci_valid_flag = '01'
		   and i.pi_check_state = '01'
		   and i.PI_VALID_FLAG != '00'
		   and i.PI_VALID_FLAG != '99'
		   and p.ci_channel_code=#{ciChannelCode,jdbcType=VARCHAR}
		   and i.pi_channel_product_code=#{piChannelProductCode,jdbcType=VARCHAR}
		   <!-- and #{piIpoBeginDate,jdbcType=VARCHAR} &lt;=nvl(i.pi_pro_end_date,'99991231') -->
		   and #{piIpoBeginDate,jdbcType=VARCHAR} &gt;i.pi_ipo_end_date
	   <if test="piIpoBeginDate != null" >
	       and to_date(i.pi_ipo_begin_date,'yyyyMMdd')&lt;=to_date(#{piIpoBeginDate,jdbcType=VARCHAR},'yyyyMMdd') and rownum=1
	   </if>	      
  </select>
  
  
    <select id="selectAllUsedChannels" resultType="string" parameterType="string">
			   select distinct p.ci_channel_code
		  from p_channel_info p, p_product_info i
		 where p.ci_channel_code = i.pi_channel_code
		   and p.ci_check_state = '01'
		   and p.ci_valid_flag = '01'
		   and i.pi_check_state = '01'
		   and i.PI_VALID_FLAG != '00'
		   and i.PI_VALID_FLAG != '99'
		   and to_date(i.pi_ipo_begin_date, 'yyyyMMdd') &lt;=
		       to_date(#{tradeDate,jdbcType=VARCHAR} , 'yyyyMMdd')
		   and (to_date(nvl(i.pi_pro_end_date,'99991231'), 'yyyyMMdd')) &gt;=
		       to_date(#{tradeDate,jdbcType=VARCHAR}, 'yyyyMMdd')-( SELECT nvl(dict_code,'0')dict_code
		        FROM sys_dict where dict_type='fundSendEndDate' )
	 </select>
  
  
   <select id="selectAllUpdateChannels" resultType="string" parameterType="string">
            select distinct p.ci_channel_code
        from p_channel_info p, p_product_info i
        where p.ci_channel_code = i.pi_channel_code
        and p.ci_check_state = '01'
        and p.ci_valid_flag = '01'
        and i.pi_check_state = '01'
        and i.PI_VALID_FLAG != '00'
        and i.PI_VALID_FLAG != '99'
        and to_date(i.pi_ipo_begin_date, 'yyyyMMdd') &lt;=
        to_date(#{tradeDate,jdbcType=VARCHAR} , 'yyyyMMdd')
  </select>
  
  
  <select id="selectGtLimit" resultType="string" parameterType="com.sitco.yt.manage.models.D_account_position" >
	   select sum(d.ap_subscribe_no_cfm) totalshare from d_account_position d 
	   where 1=1
	   <if test="ap_channel_code != null" >
	       and d.ap_channel_code=#{ap_channel_code,jdbcType=VARCHAR}
	   </if>
	   <if test="ap_channel_product_code != null" >
	       and d.ap_channel_product_code=#{ap_channel_product_code,jdbcType=VARCHAR}
	   </if>
  </select>
 
  <select id="selectPfGslFundCodeInCome" parameterType="map" resultType="hashMap">
  	 SELECT *
	   FROM (SELECT A.*, ROWNUM RN
	           FROM (SELECT T.F_INCOMERATIO,
	                        T.F_INCOMEUNIT,
	                        TO_CHAR(T.D_DATE, 'yyyymmdd') D_DATE,
	                        T.F_NETVALUE,
	                        t.f_totalnetvalue
	                   FROM CRM_TFUNDDAY T
	                  WHERE T.C_FUNDCODE = #{productCode, jdbcType = VARCHAR}
	                  ORDER BY T.D_DATE DESC) A) H
	  WHERE H.RN &lt; 2
  </select>
  
  <select id="getIncomeInfo" parameterType="map" resultType="hashMap">
  	SELECT T.F_INCOMERATIO, T.F_INCOMEUNIT
      FROM CRM_TFUNDDAY T
     WHERE T.C_FUNDCODE = #{C_FUNDCODE, jdbcType = VARCHAR}
       AND T.D_DATE = TO_DATE(#{D_DATE,jdbcType = VARCHAR}, 'yyyymmdd')
  </select>
  

  <select id="selectFundMarketInfo" parameterType="hashMap" resultType="hashMap">
  	select aa.pi_channel_code CHANNELCODE,aa.pi_channel_product_code PRODUCTCODE,aa.pi_product_type PRODUCTTYPE,bb.cp_ta_product_code TAPRODUCTCODE
  from p_product_info aa, p_channel_product bb
 where aa.pi_channel_code = bb.cp_channel_code
   and aa.pi_channel_product_code = bb.cp_channel_product_code
   and aa.pi_valid_flag not in ('00', '99')
   and aa.pi_check_state = '01'
   and bb.cp_valid_flag = '01'
   and bb.cp_check_state = '01'
   and aa.pi_channel_code = #{channelCode,jdbcType=VARCHAR}
   and aa.pi_channel_product_code = #{productCode,jdbcType=VARCHAR}
   and rownum &lt; 2
  </select>


</mapper>