<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sams.custom.mapper.RuningErrorMapper" >
  <resultMap id="BaseResultMap" type="com.sams.custom.model.RuningError" >
    <id column="RE_ID" property="reId" jdbcType="DECIMAL" />
    <result column="RE_ERROR_CODE" property="reErrorCode" jdbcType="VARCHAR" />
    <result column="RE_ERROR_MESSAGE" property="reErrorMessage" jdbcType="VARCHAR" />
    <result column="RE_ERROR_TIME" property="reErrorTime" jdbcType="VARCHAR" />
    <result column="RE_BRANCH_CODE" property="reBranchCode" jdbcType="VARCHAR" />
    <result column="RE_PROCESS_STEP" property="reProcessStep" jdbcType="VARCHAR" />
    <result column="RE_CTIME" property="reCtime" jdbcType="TIMESTAMP" />
    <result column="RE_UTIME" property="reUtime" jdbcType="TIMESTAMP" />
    <result column="RE_CUSER" property="reCuser" jdbcType="VARCHAR" />
    <result column="RE_UUSER" property="reUuser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    RE_ID, RE_ERROR_CODE, RE_ERROR_MESSAGE, RE_ERROR_TIME, RE_BRANCH_CODE, RE_PROCESS_STEP, 
    RE_CTIME, RE_UTIME, RE_CUSER, RE_UUSER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from D_RUNING_ERROR
    where RE_ID = #{reId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from D_RUNING_ERROR
    where RE_ID = #{reId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.sams.custom.model.RuningError" >
    insert into D_RUNING_ERROR (RE_ID, RE_ERROR_CODE, RE_ERROR_MESSAGE, 
      RE_ERROR_TIME, RE_BRANCH_CODE, RE_PROCESS_STEP, 
      RE_CTIME, RE_UTIME, RE_CUSER, 
      RE_UUSER)
    values (#{reId,jdbcType=DECIMAL}, #{reErrorCode,jdbcType=VARCHAR}, #{reErrorMessage,jdbcType=VARCHAR}, 
      #{reErrorTime,jdbcType=VARCHAR}, #{reBranchCode,jdbcType=VARCHAR}, #{reProcessStep,jdbcType=VARCHAR}, 
      #{reCtime,jdbcType=TIMESTAMP}, #{reUtime,jdbcType=TIMESTAMP}, #{reCuser,jdbcType=VARCHAR}, 
      #{reUuser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sams.custom.model.RuningError" >
    insert into D_RUNING_ERROR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="reId != null" >
        RE_ID,
      </if>
      <if test="reErrorCode != null" >
        RE_ERROR_CODE,
      </if>
      <if test="reErrorMessage != null" >
        RE_ERROR_MESSAGE,
      </if>
      <if test="reErrorTime != null" >
        RE_ERROR_TIME,
      </if>
      <if test="reBranchCode != null" >
        RE_BRANCH_CODE,
      </if>
      <if test="reProcessStep != null" >
        RE_PROCESS_STEP,
      </if>
      <if test="reCtime != null" >
        RE_CTIME,
      </if>
      <if test="reUtime != null" >
        RE_UTIME,
      </if>
      <if test="reCuser != null" >
        RE_CUSER,
      </if>
      <if test="reUuser != null" >
        RE_UUSER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="reId != null" >
        #{reId,jdbcType=DECIMAL},
      </if>
      <if test="reErrorCode != null" >
        #{reErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="reErrorMessage != null" >
        #{reErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="reErrorTime != null" >
        #{reErrorTime,jdbcType=VARCHAR},
      </if>
      <if test="reBranchCode != null" >
        #{reBranchCode,jdbcType=VARCHAR},
      </if>
      <if test="reProcessStep != null" >
        #{reProcessStep,jdbcType=VARCHAR},
      </if>
      <if test="reCtime != null" >
        #{reCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reUtime != null" >
        #{reUtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reCuser != null" >
        #{reCuser,jdbcType=VARCHAR},
      </if>
      <if test="reUuser != null" >
        #{reUuser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sams.custom.model.RuningError" >
    update D_RUNING_ERROR
    <set >
      <if test="reErrorCode != null" >
        RE_ERROR_CODE = #{reErrorCode,jdbcType=VARCHAR},
      </if>
      <if test="reErrorMessage != null" >
        RE_ERROR_MESSAGE = #{reErrorMessage,jdbcType=VARCHAR},
      </if>
      <if test="reErrorTime != null" >
        RE_ERROR_TIME = #{reErrorTime,jdbcType=VARCHAR},
      </if>
      <if test="reBranchCode != null" >
        RE_BRANCH_CODE = #{reBranchCode,jdbcType=VARCHAR},
      </if>
      <if test="reProcessStep != null" >
        RE_PROCESS_STEP = #{reProcessStep,jdbcType=VARCHAR},
      </if>
      <if test="reCtime != null" >
        RE_CTIME = #{reCtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reUtime != null" >
        RE_UTIME = #{reUtime,jdbcType=TIMESTAMP},
      </if>
      <if test="reCuser != null" >
        RE_CUSER = #{reCuser,jdbcType=VARCHAR},
      </if>
      <if test="reUuser != null" >
        RE_UUSER = #{reUuser,jdbcType=VARCHAR},
      </if>
    </set>
    where RE_ID = #{reId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sams.custom.model.RuningError" >
    update D_RUNING_ERROR
    set RE_ERROR_CODE = #{reErrorCode,jdbcType=VARCHAR},
      RE_ERROR_MESSAGE = #{reErrorMessage,jdbcType=VARCHAR},
      RE_ERROR_TIME = #{reErrorTime,jdbcType=VARCHAR},
      RE_BRANCH_CODE = #{reBranchCode,jdbcType=VARCHAR},
      RE_PROCESS_STEP = #{reProcessStep,jdbcType=VARCHAR},
      RE_CTIME = #{reCtime,jdbcType=TIMESTAMP},
      RE_UTIME = #{reUtime,jdbcType=TIMESTAMP},
      RE_CUSER = #{reCuser,jdbcType=VARCHAR},
      RE_UUSER = #{reUuser,jdbcType=VARCHAR}
    where RE_ID = #{reId,jdbcType=DECIMAL}
  </update>
</mapper>